Connected Services/BlogService/BlogService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://bearhuchao.top/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://bearhuchao.top/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://bearhuchao.top/">
      <s:element name="AddUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUserResult" type="tns:UserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="UserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Username" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Blogs" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetUsers">
        <s:complexType />
      </s:element>
      <s:element name="GetUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetUsersResult" type="tns:ArrayOfUserInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfUserInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="UserInfo" nillable="true" type="tns:UserInfo" />
        </s:sequence>
      </s:complexType>
      <s:element name="AddBlog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="title" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBlogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBlogResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogsResult" type="tns:ArrayOfBlogInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfBlogInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="BlogInfo" nillable="true" type="tns:BlogInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="BlogInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CommentNumber" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBlogDetail">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogDetailResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogDetailResult" type="tns:BlogDetail" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="BlogDetail">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Title" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UpdateTime" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Comments" type="tns:ArrayOfCommentInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfCommentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="CommentInfo" nillable="true" type="tns:CommentInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="CommentInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="Author" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Content" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetBlogComments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BlogId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBlogCommentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBlogCommentsResult" type="tns:ArrayOfCommentInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBlogComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="BlogId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="author" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBlogCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBlogCommentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddUser" />
  </wsdl:message>
  <wsdl:message name="AddUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetUser" />
  </wsdl:message>
  <wsdl:message name="GetUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetUsers" />
  </wsdl:message>
  <wsdl:message name="GetUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetUsersResponse" />
  </wsdl:message>
  <wsdl:message name="AddBlogSoapIn">
    <wsdl:part name="parameters" element="tns:AddBlog" />
  </wsdl:message>
  <wsdl:message name="AddBlogSoapOut">
    <wsdl:part name="parameters" element="tns:AddBlogResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogs" />
  </wsdl:message>
  <wsdl:message name="GetBlogsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogsResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogDetailSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogDetail" />
  </wsdl:message>
  <wsdl:message name="GetBlogDetailSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogDetailResponse" />
  </wsdl:message>
  <wsdl:message name="GetBlogCommentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetBlogComments" />
  </wsdl:message>
  <wsdl:message name="GetBlogCommentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetBlogCommentsResponse" />
  </wsdl:message>
  <wsdl:message name="AddBlogCommentSoapIn">
    <wsdl:part name="parameters" element="tns:AddBlogComment" />
  </wsdl:message>
  <wsdl:message name="AddBlogCommentSoapOut">
    <wsdl:part name="parameters" element="tns:AddBlogCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="BlogServiceSoap">
    <wsdl:operation name="AddUser">
      <wsdl:input message="tns:AddUserSoapIn" />
      <wsdl:output message="tns:AddUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <wsdl:input message="tns:GetUserSoapIn" />
      <wsdl:output message="tns:GetUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <wsdl:input message="tns:GetUsersSoapIn" />
      <wsdl:output message="tns:GetUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBlog">
      <wsdl:input message="tns:AddBlogSoapIn" />
      <wsdl:output message="tns:AddBlogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogs">
      <wsdl:input message="tns:GetBlogsSoapIn" />
      <wsdl:output message="tns:GetBlogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogDetail">
      <wsdl:input message="tns:GetBlogDetailSoapIn" />
      <wsdl:output message="tns:GetBlogDetailSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBlogComments">
      <wsdl:input message="tns:GetBlogCommentsSoapIn" />
      <wsdl:output message="tns:GetBlogCommentsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBlogComment">
      <wsdl:input message="tns:AddBlogCommentSoapIn" />
      <wsdl:output message="tns:AddBlogCommentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BlogServiceSoap" type="tns:BlogServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap:operation soapAction="http://bearhuchao.top/AddUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap:operation soapAction="http://bearhuchao.top/GetUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap:operation soapAction="http://bearhuchao.top/GetUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBlog">
      <soap:operation soapAction="http://bearhuchao.top/AddBlog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogs">
      <soap:operation soapAction="http://bearhuchao.top/GetBlogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogDetail">
      <soap:operation soapAction="http://bearhuchao.top/GetBlogDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogComments">
      <soap:operation soapAction="http://bearhuchao.top/GetBlogComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBlogComment">
      <soap:operation soapAction="http://bearhuchao.top/AddBlogComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BlogServiceSoap12" type="tns:BlogServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddUser">
      <soap12:operation soapAction="http://bearhuchao.top/AddUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUser">
      <soap12:operation soapAction="http://bearhuchao.top/GetUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUsers">
      <soap12:operation soapAction="http://bearhuchao.top/GetUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBlog">
      <soap12:operation soapAction="http://bearhuchao.top/AddBlog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogs">
      <soap12:operation soapAction="http://bearhuchao.top/GetBlogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogDetail">
      <soap12:operation soapAction="http://bearhuchao.top/GetBlogDetail" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBlogComments">
      <soap12:operation soapAction="http://bearhuchao.top/GetBlogComments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBlogComment">
      <soap12:operation soapAction="http://bearhuchao.top/AddBlogComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BlogService">
    <wsdl:port name="BlogServiceSoap" binding="tns:BlogServiceSoap">
      <soap:address location="http://10.212.27.133/BlogService.asmx" />
    </wsdl:port>
    <wsdl:port name="BlogServiceSoap12" binding="tns:BlogServiceSoap12">
      <soap12:address location="http://10.212.27.133/BlogService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>